<!DOCTYPE html>
<html>

    <head>

        <title>
            Pixel Painter
        </title>

        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/stylesheets/application.css">

    </head>

    <body data-ng-class="{overflow-hidden: !!overflow-hidden}" data-ng-app="PixelPainterApp">

        <div id="app-container">

            <div class="container" data-ng-view></div>

        </div>

        <!-- L O A D   D E P E N D E N C I E S -->
        <script type="text/javascript" src="/javascripts/bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="/javascripts/bower_components/angular-route/angular-route.js"></script>
        <script type="text/javascript" src="/javascripts/bower_components/angular-cookies/angular-cookies.js"></script>
        <script type="text/javascript" src="/javascripts/bower_components/lodash/dist/lodash.js"></script>
        <script type="text/javascript" src="/javascripts/jscolor/jscolor.js"></script>
        
        <!-- L O A D   A P P -->
        <script type="text/javascript" src="/javascripts/pixel-painter/app.js"></script>

        <!-- L O A  D   R O O T   C O M P O N E N T S -->
        <script type="text/javascript" src="/javascripts/pixel-painter/controllers.js"></script>
        <script type="text/javascript" src="/javascripts/pixel-painter/directives.js"></script>
        <script type="text/javascript" src="/javascripts/pixel-painter/services.js"></script>

        <!-- E D I T - R O U T E -->
        <script type="text/javascript" src="/javascripts/pixel-painter/edit-route/scripts/controllers.js"></script>
        <script type="text/javascript" src="/javascripts/pixel-painter/edit-route/scripts/directives.js"></script>
        <script type="text/javascript" src="/javascripts/pixel-painter/edit-route/scripts/services.js"></script>

        <!-- L O A D - R O U T E -->
        <script type="text/javascript" src="/javascripts/pixel-painter/load-route/scripts/controllers.js"></script>
        <script type="text/javascript" src="/javascripts/pixel-painter/load-route/scripts/directives.js"></script>
        <script type="text/javascript" src="/javascripts/pixel-painter/load-route/scripts/services.js"></script>

        <!-- L O G I N - R O U T E -->
        <script type="text/javascript" src="/javascripts/pixel-painter/login-route/scripts/controllers.js"></script>
        <script type="text/javascript" src="/javascripts/pixel-painter/login-route/scripts/directives.js"></script>
        <script type="text/javascript" src="/javascripts/pixel-painter/login-route/scripts/services.js"></script>

        <!-- L O G O U  T - R O U T E -->
        <script type="text/javascript" src="/javascripts/pixel-painter/logout-route/scripts/controllers.js"></script>
        <script type="text/javascript" src="/javascripts/pixel-painter/logout-route/scripts/directives.js"></script>
        <script type="text/javascript" src="/javascripts/pixel-painter/logout-route/scripts/services.js"></script>

    </body>

</html>